version: '3'
services:
  insurance_api:
    build: .
    ports:
       - "8000:8000"
    networks:
       api_network:
         ipv4_address: 192.168.1.200
    volumes:
      - '/home/cert/:/home/'
#    depends_on:
#      - selenium
#    command: ["/usr/src/app/wait_for_selenium.sh", "selenium", "4444"]
  selenium:
    image: "selenium/standalone-firefox"
    ports:
      - "4444:4444"
    networks:
       api_network:
         ipv4_address: 192.168.1.100
networks:
  api_network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1